#header {
    background-color: rgb(52, 114, 248);
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Hubballi', cursive;
    
}

h1, h2, h3 {
    text-transform:uppercase;
}

#nameAndTitle {
    background-color: white;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

#nameAndTitle h1, h2 {
    margin: 0;
}

#contact {
    list-style: none;
}

#contact i {
    width: 30px;
    color: rgb(52, 114, 248) ;
}

#container {
    display: grid;
    grid-template-columns: 30% auto;
}

#sidebar, #content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}